{% extends "blog/base.html" %}

{% load static %}
{% load blog_tags static %}

{% block title %} docker {% endblock %}
{% block content %}

<header id="dark-gradient">
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            <h2>
                <i style="cursor:pointer;" class="fab fa-docker fa-fw" aria-hidden="true"></i>
                <strong>D</strong>ocker
            </h2>
            <p style="margin-top:40px;">
                <form action="{% url 'docker_images' %}" method="post" enctype="multipart/form-data" class="form-inline" id="header-input">
                    {% csrf_token %}
                    {{ form.image.errors }}
                    <div class="global-input">
                        {{ form.image }}
                        <button class="input-btn" type="submit"><i class="fas fa-cloud-download-alt fa-lg"></i></button>
                    </div>
                </form>
            </p>
            <p>Space: {{ fs.percent }}% ({{ fs.used }}/{{ fs.size }})</p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="progress">
                        <div class="bg-{{ fs.icon }} progress-bar progress-bar-animated progress-bar-striped" style="width:{{ fs.percent }}%">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> 

<div class="bg-dark text-white main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if images %}
                    <table class="table table-hover table-responsive-sm table-sm">
                        {% for sid, attr in images.items %}
                             <tr style="cursor:pointer;">
                                 <td>
                                     <span class="badge badge-pill badge-danger">
                                         <a style="color:black;" href="{% url 'docker_image_delete' sid %}">Delete</a>
                                     </span>&nbsp;&nbsp;{{ attr.name }}
                                 </td>
                                 <td><i class="fas fa-tag fa-fw" aria-hidden="true"></i> {{ attr.tag }}</td>
                                 <td><i class="far fa-calendar fa-fw" aria-hidden="true"></i> {{ attr.created|date:"d/m/Y" }}</td>
                                 <td><i class="fas fa-fingerprint fa-fw" aria-hidden="true"></i> {{ sid }}</td>
                                 <td><i class="fas fa-balance-scale-right fa-fw" aria-hidden="true"></i> {{ attr.size }}</td>
                                 <td>
                                     <div class="btn-group btn-group-sm" role="group">
                                         <button onclick="document.location = '{% url 'docker_image_save' sid %}'" type="button" class="btn btn-outline-light btn-sm {% if attr.is_save  %}disabled{% endif %}">
                                             <i class="fas fa-save" aria-hidden="true"></i></a>
                                         </button>
                                         <button onclick="document.location = '{% url 'docker_image_file_delete' sid %}'" type="button" class="btn btn-outline-light btn-sm {% if not attr.is_save  %}disabled{% endif %}">
                                             <i class="fas fa-trash" aria-hidden="true"></i></a>
                                         </button>
                                         <button onclick="document.location = '{% url 'docker_image_download' sid %}'" type="button" class="btn btn-outline-light btn-sm {% if not attr.save_is_done  %}disabled{% endif %}">
                                             <i class="fas fa-file-download" aria-hidden="true"></i></a>
                                         </button>
                                     </div>
                                 </td>
                             </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-center col-12 col-md-6 mx-auto">
                        <br>
                        <hr class="bg-light">
                        <h3>... No Images ...</h3>
                        <hr class="bg-light">
                        <br>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
