{% extends "blog/base.html" %}

{% load static %}

{% block title %} Flower Info {% endblock %}
{% block content %}

<style>
    .flower-info {
        background: linear-gradient(70deg, #5c6670, #343a40);
        color: white;
    }
    .flower-title {
        padding-bottom: 20px;
    }
    .flower-data {
        padding-bottom: 30px;
    }
    .flower-data h3 {
        cursor: pointer;
        font-size: 22px;
    }
</style>
<header>
    <div class="header-wrapper header-padding">
        <div class="container text-center">
            <h1 class="text-light">Plant(s) Info</h1>
            <hr class="bg-light">
            <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                <button onclick="document.location = '{% url 'flower_view' %}'" type="button" class="btn btn-dark border-light">Last</button>
                {% for k, v in time_elements %}
                    <button onclick="document.location = '{% url 'flower_by_period' k v.gr_default %}'" type="button" class="btn btn-secondary border-light">{{v.name_min}}</button>
                {% endfor %}
            </div>
            <hr class="bg-light">
        </div>
        <div class="bg-img" style="background-image: url('{% static 'img/dark_flower.jpg' %}');">
            <div class="overlay"></div>
        </div>
    </div>
</header>

<div class="xs-padding flower-info">
    <div class="container">
        <div class="row">
            {% for flower in flowers %}
                <div class="xs-padding col-12 col-md-6">
                    <div class="flower-title">
                        <h3><i class="fas fa-leaf"></i> {{flower.name}}</h3>
                        <small>- Collecte : {{flower.collect_date|date:"d/m/Y H:i"}}</small>
                    </div>
                    <div class="flower-data">
                        <h3><i class="fa fa-{{flower.battery.icon}} fa-fw"></i> {{flower.battery.name}} : {{flower.battery.percent}}</h3>
                        <hr class="bg-light">
                        <div class="progress">
                            <div class="bg-{{flower.battery.bt_state}} progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{flower.battery.level}}" aria-valuemin="0" aria-valuemax="100" style="width: {{flower.battery.level}}%"></div>
                        </div>
                    </div>
                    {% for key, attr in flower.data.items %}
                        <div class="flower-data">
                            <h3>
                                <i data-toggle="tooltip" data-placement="left" title="Min {{attr.min}}, Max {{attr.max}}" style="color:{{attr.color}};" class="fa fa-{{attr.icon}} fa-fw"></i> {{key}} : {{attr.current}}
                            </h3>
                            <hr class="bg-light">
                            <div class="progress">
                                <div class="bg-{{attr.bt_state}} progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{attr.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{attr.percent}}%"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
