{% extends "blog/base.html" %}

{% load flower_tags static %}

{% block title %} Flower Info {% endblock %}
{% block content %}

<style>
    .flower-info {
        background: linear-gradient(70deg, #5c6670, #343a40);
        color: white;
    }
    .flower-title {
        padding-bottom: 10px;
    }
    .graph {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .graph-merge {
        height: 375px;
    }
    .graph-title {
        font-size: 22px;
    }
    .graph-legend {
        padding: 0px;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .graph-legend p {
        margin: 3px;
    }
    .graph-legend p small {
        cursor: pointer;
        font-size: 12.5px;
    }
    .graph-legend p i {
        font-size: 10px;
    }
    .under-title {
        padding-top: 15px;
        padding-bottom: 20px;
    }
</style>

<header>
    <div class="header-wrapper header-padding">
        <div class="container text-center text-light">
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
        <h1 class="text-light">Plant(s) Info</h1>
        <h3 class="under-title"> - {{title}} <small>({{ gr_value|gr_format }})</small> - </h3>
        <hr class="bg-light">
        <div class="btn-group btn-group-sm" role="group">
            <button onclick="document.location = '{% url 'flower_view' %}'" type="button" class="btn btn-secondary border-light">Last</button>
            {% for k, v in time_elements %}
                {% if period == k %}
                    <button onclick="document.location = '{% url 'flower_by_period' k v.gr_default %}'" type="button" class="btn btn-dark border-light">{{v.name_min}}</button>
                {% else %}
                    <button onclick="document.location = '{% url 'flower_by_period' k v.gr_default %}'" type="button" class="btn btn-secondary border-light">{{v.name_min}}</button>
                {% endif %}
            {% endfor %}
        </div>
        <hr class="bg-light">
        <div class="btn-group btn-group-sm" role="group">
            <button style="width:80px;" onclick="document.location = '{% url 'flower_by_period' period gr_value %}?m=merge'" type="button" class="btn btn-dark border-light {% if not request.GET.m or request.GET.m == 'merge' %}active{% endif %}">
                Merge <i class="fas fa-object-group fa-fw"></i>
            </button>
            <button style="width:80px;" onclick="document.location = '{% url 'flower_by_period' period gr_value %}?m=split'" type="button" class="btn btn-dark border-light {% if request.GET.m == 'split' %}active{% endif %}">
                <i class="fas fa-object-ungroup fa-fw"></i> Split
            </button>
        </div>
        <br>
        <br>
        <div class="dropdown">
            <button class="btn btn-dark btn-sm dropdown-toggle border-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-pencil-ruler fa-fw"></i> Select
            </button>
            <div class="dropdown-menu" style="font-size:14px;">
                {% for gr_lvl in gr_levels %}
                    {% if gr_lvl == gr_value %}
                        <a class="dropdown-item disabled" href="#">{{ gr_lvl|gr_format }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'flower_by_period' period gr_lvl %}">{{ gr_lvl|gr_format }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="bg-img" style="background-image: url('{% static 'img/dark_flower.jpg' %}');">
            <div class="overlay"></div>
        </div>
    </div>
</header>

<div class="xs-padding flower-info">
    <div class="xs-padding container">
        {% for type, dic in flower_data.items %}
            <h3 class="graph-title">
                {% with metric_info=metrics_info|lookup:type %}
                    <i style="color:{{metric_info.color}};" class="fa fa-{{metric_info.icon}} fa-fw"></i> {{metric_info.name}}
                {% endwith %}
            </h3>
            <hr class="bg-light">
            {% if not request.GET.m or request.GET.m == 'merge' %}
                <div class="graph-legend">
                    {% for flower, data in dic.items %}
                        <p>
                            <i class="fas fa-leaf"></i> {{flower}} - 
                            <small data-toggle="tooltip" data-placement="top" title="{{flower}} : Min {{data.stat_min}}, Max {{data.stat_max}}, Moy {{data.stat_mean}}">
                                <i class="fas fa-level-down-alt"></i> {{data.stat_min}}
                                <i class="fas fa-level-up-alt"></i> {{data.stat_max}}
                                <i class="fas fa-arrows-alt-h"></i> {{data.stat_mean}}
                            </small>
                        </p>
                    {% endfor %}
                </div>
                <div class="graph graph-merge">
                    <canvas id="{{flower}}{{type.0}}"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById("{{flower}}{{type.0}}").getContext('2d');
                    var {{flower}}{{type.0}} = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [
                                {% for mtime in metrics_time %}
                                    '{{ mtime }}',
                                {% endfor %}
                            ],
                            datasets: [
                                {% for flower, data in dic.items %}
                                    {
                                        label: '{{flower}}',
                                        data: [
                                            {% for data in data.elements %}
                                                '{{ data }}',
                                            {% endfor %}
                                        ],
                                        backgroundColor: '{{data.color_shadow}}',
                                        borderColor: '{{data.color}}',
                                        borderWidth: 5,
                                        radius: 0,
                                    },
                                {% endfor %}
                            ]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true,
                                labels: {
                                    fontColor: "white",
                                    fontFamily: "'Ubuntu', sans-serif",
                                    boxWidth: 5,
                                    padding: 10,
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: "white",
                                        fontFamily: "'Ubuntu', sans-serif",
                                    },
                                    gridLines: { lineWidth: 0.3 },
                                }],
                                xAxes: [{
                                    gridLines: { lineWidth: 0.3 },
                                    ticks: {
                                        autoSkip: true,
                                        maxTicksLimit: 12,
                                        fontColor: "white",
                                        fontFamily: "'Ubuntu', sans-serif"
                                    },
                                }],
                            }
                        }
                    });
                </script>
            {% else %}
                <div class="row">
                    {% for flower, data in dic.items %}
                        <div class="col-12 col-md-6">
                            <div class="graph-legend">
                                <p>
                                    <i class="fas fa-leaf"></i> {{flower}} - 
                                    <small data-toggle="tooltip" data-placement="top" title="{{flower}} : Min {{data.stat_min}}, Max {{data.stat_max}}, Moy {{data.stat_mean}}">
                                        <i class="fas fa-level-down-alt"></i> {{data.stat_min}}
                                        <i class="fas fa-level-up-alt"></i> {{data.stat_max}}
                                        <i class="fas fa-arrows-alt-h"></i> {{data.stat_mean}}
                                    </small>
                                </p>
                            </div>
                            <div class="graph">
                                <canvas id="{{flower}}{{type.0}}"></canvas>
                            </div>
                            <script>
                                var ctx = document.getElementById("{{flower}}{{type.0}}").getContext('2d');
                                var {{flower}}{{type.0}} = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: [
                                            {% for mtime in metrics_time %}
                                                '{{ mtime }}',
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: '{{flower}}',
                                            data: [
                                                {% for data in data.elements %}
                                                    '{{ data }}',
                                                {% endfor %}
                                            ],
                                            backgroundColor: '{{data.color_shadow}}',
                                            borderColor: '{{data.color}}',
                                            borderWidth: 5,
                                            radius: 0,
                                        }]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                        },
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true,
                                                    fontColor: "white",
                                                    fontFamily: "'Ubuntu', sans-serif",
                                                },
                                                gridLines: { lineWidth: 0.3 },
                                            }],
                                            xAxes: [{
                                                gridLines: { lineWidth: 0.3 },
                                                ticks: {
                                                    autoSkip: true,
                                                    maxTicksLimit: 12,
                                                    fontColor: "white",
                                                    fontFamily: "'Ubuntu', sans-serif"
                                                },
                                            }],
                                        }
                                    }
                                });
                            </script>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
