{% extends "blog/base.html" %}

{% load static %}

{% block title %} My Profile {% endblock %}
{% block content %}

<link href="{% static 'css/timeline.css' %}" rel="stylesheet">

<div class="container">
    <div id="profile" class="md-padding">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
                <img src='{{profile.image.url}}' class="img-fluid rounded mx-auto d-block">
                <br>
                <h3>{{profile.first_name}} {{profile.name}}</h3>
                <h5>{{profile.job_title}}</h5>
                <hr>
                <div class="text-left">{{profile.content}}</div>
                <br>
                <br>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 content">
                <div id="competence">
                    <h1 class="title_hr" style="color:black;">Skills</h1>
                    {% for skill_cat in skill_cats %}
                        <h3 class="skill_cat"><i class="{{skill_cat.icon}} fa-fw"></i> {{skill_cat.name}}</h3>
                        {% for skill in skills %}
                            {% if skill.cat_name == skill_cat.name %}
                                <p class="skill"><i class="{{skill.icon}} fa-fw"></i> {{skill.name}} - {{skill.prc}}%</p>
                                <div class="progress">
                                    <div class="bg-{{skill.bar_type}} progress-bar progress-bar-animated progress-bar-striped" style="width:{{skill.prc}}%">&nbsp;</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <br>
                <br>
                <div class="formation">
                    <h1 class="title_hr" style="color:black;">Training/School</h1>
                    <ul class="timeline timeline-centered">
                        {% for train in training %}
                            <li class="timeline-item">
                                <div class="timeline-info">
                                    <span><strong>{{train.date_format}}</strong></span>
                                </div>
                                <div class="timeline-marker"></div>
                                <div class="timeline-content">
                                    <h3 class="timeline-title">{{train.diploma}}</h3>
                                    <h5><i class="fas {{train.icon}} fa-fw"></i> {{train.school}}</h5>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
                <br>
                <div class="experience">
                    <h1 class="title_hr" style="color:black;">Experiences</h1>
                    <ul class="timeline timeline-centered">
                        {% for exp in experiences %}
                            <li class="timeline-item">
                                <div class="timeline-info">
                                    <span><strong>{{exp.date_format}}</strong> <small class="total_time">| {{exp.total_time}}</small></span>
                                </div>
                                <div class="timeline-marker"></div>
                                <div class="timeline-content">
                                    <a data-toggle="collapse" style="cursor:pointer;" data-target="#collapse{{exp.id}}" aria-expanded="false" aria-controls="collapse{{exp.id}}">
                                        <h3 class="timeline-title">{{exp.job_title}}</h3>
                                        <h5> {{exp.company}} </h5>
                                    </a>
                                    <div id="collapse{{exp.id}}" class="collapse">
                                        <a class="al-corp">
                                            {% for content in exp.contents %}
                                                <p>{{content}}</p>
                                            {% endfor %}
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-footer">
        <hr>
        <strong><small><i class="fa fa-eye fa-lg" aria-hidden="true"></i> Profile view: {{profile.count}}</small></strong>
        <strong class="float-right"><small><i class="fa fa-edit fa-lg" aria-hidden="true"></i> Update: {{profile.last_modified|date:"d/m/Y H:i"}}</small></strong>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.timeline-content a h5').prepend($('<i>').attr({
            'class': 'fa fa-arrow-circle-down',
        }).css({
            'color': '#4d94ff',
        }));
        $('.timeline-content a h5').prepend($('<i>').attr({
            'class': 'fa fa-arrow-circle-left',
        }));
        $('.timeline-content a h5').prepend($('<i>').attr({
        'class': 'fa fa-arrow-circle-right',
        }));
    });
</script>
{% endblock %}
