{% extends "blog/base.html" %}

{% load static %}

{% block title %}Modification Profil{% endblock %}
{% block content %}
	<div class="container">
    <br>
    <br>
    <h2><strong><i class="fa fa-edit fa-fw" aria-hidden="true"></i> Modification du Profil</strong></h2>
    <hr>
        
    {% if valid %}
        <p> {{ cat_syntax }} Modifié ! </p>
    {% endif %}
    
    <form action="" method="post">
        
        <button type="submit" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Sauvegarder</button>
        <a onclick="window.history.back()" class="btn btn-danger" role="button">
        <span class="glyphicon glyphicon-remove-sign"></span> Annuler</a>
        <hr>
        
        {% csrf_token %}
            
        <p><strong><i class="fa fa-star fa-fw" aria-hidden="true"></i> Titre</strong></p>
        {{ form.title.errors }}
        {{ form.title }}
        <br>
        
        <p><strong><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Contenu</strong></p>
        {{ form.content.errors }}
        {{ form.content }}
        <br>
        <br>
        
        <button type="submit" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Sauvegarder</button>
        <a onclick="window.history.back()" class="btn btn-danger" role="button">
        <span class="glyphicon glyphicon-remove-sign"></span> Annuler</a>
            
    </form>
    <br>
    </div>
	
{% endblock %}