/*------------------------------------*\
	General
\*------------------------------------*/

html, body {
    margin-top: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

/* -- typography -- */

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}

.main {
    min-height: 500px;   
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: #6195FF;
    color: #FFF;
}

::selection {
    background-color: #6195FF;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* -- input global  -- */

.global-input {
    position: relative;
}

.global-input .my-input {
    padding-right: 50px;
}

.global-input .input-btn {
    position: absolute;
    right: 0px;
	bottom: 0px;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    background-color: transparent;
    color: #6195FF;
}

#header-input {
    display: inline-block;
}

/* -- section  -- */

.section {
    position: relative;
}

.header-padding {
    padding-top: 200px;
    padding-bottom: 120px;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.xs-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}


/* --  section header  -- */

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.title:after {
    content:"";
  	display:block;
  	height:4px;
  	width:40px;
  	background-color: #6195FF;
    margin-top: 20px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}

/* Paginated */


#paginated {
    margin-top: 15px;
}


/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"] {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.8;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

/* textarea { */
    /* padding: 10px 10px; */
    /* min-height: 80px; */
    /* resize: vertical; */
/* } */

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #6195FF;
    opacity: 1;
}

/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #6195FF;
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.outline-btn {
    background: transparent;
    color: #6195FF !important;
    border-color: #6195FF;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.8;
}


/*------------------------------------*\
	Navbar
\*------------------------------------*/
    
.navbar {
    opacity: 0.9;
    background-color: white;
}

.navbar .navbar-toggler, .navbar .navbar-toggler:active {
    border: none;
    outline: 0;
}

.navbar .navbar-brand {
  color: black;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: black; 
}
.navbar .navbar-text {
  color: black;
}
.navbar .navbar-text a {
  color: black;
  
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: black; 
}
.navbar .navbar-nav .nav-link {
  color: black;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: white;
  background-color: #004d99;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: black;
  background-color: white;
}
.navbar .navbar-toggle {
  border-color: white;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: white;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: black;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: black;
}
.navbar .navbar-link {
  color: black;
}
.navbar .navbar-link:hover {
  color: black;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: black;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: black;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: black;
  background-color: white;
}

.navbar .dropdown-item {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

/* Burger Button */

.burger {
    margin-top: 12px;
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid black;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid black;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid black;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
    display: none;
}

.burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}


/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content {
    color: white;
}

.home-content button {
    margin-top: 20px;
}

.home-content p {
    margin-top: 25px;
}

.home-content h1 {
    size: 52px;
}

.home-content #signature {
    position: absolute;
    /* bottom: 0px; */
    left: 0px;
    right: 0px;
    
    font-size: 14px;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}

/*------------------------------------*\
	About
\*------------------------------------*/

.about {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #EEE;
    margin: 15px 0px;
    background-color: white; 
    cursor: pointer;
    opacity: .9;
}

.about i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}



.about:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.about:hover:after {
    width: 100%;
}

.about h3 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.about:hover h3 {
    color: #fff;
}

.about p {
    color: #5c6770;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/


@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
  .section-header h2.title {
  		font-size:31.5px;
	}

  .main-btn , .default-btn , .outline-btn , .white-btn  {
  		padding: 8px 22px;
  		font-size:14px;
	}

  .home-content h1 {
		font-size:36px;
	}

  .header-wrapper h2 {
      margin-bottom: 20px;
      text-align: center;
      display: block;
  }

  .header-wrapper .breadcrumb {
      float: none;
      text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  #portfolio [class*='col-xs'] {
		  width:100%;
	}

  #numbers [class*='col-xs'] {
		  width:100%;
	}

  .contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
      width: 100%;
  }
  .contact-form .input:nth-child(2) {
      margin-left: 0px;
  }

  .reply-form form .input, .reply-form form .input {
      width: 100%;
  }
  .reply-form form .input:nth-child(2) {
      margin-left: 0px;
  }



  .blog-author .media .media-left {
      display: block;
      padding-right: 0;
      margin-bottom: 20px;
  }
  .blog-author .media {
      text-align: center;
  }
  .blog-author .media .media-heading .author-social {
      margin-top: 10px;
      float: none;
  }
  .blog-author .media .media-left img {
      margin: auto;
  }

  .blog-comments .media .media {
      margin:0px -15px;
  }
}

.post-content {
    color: black;
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    
}

.media-img {
    display: block;
    float: left;
    margin-right: 5px;
    background-size: cover;
    width: 64px;
    height: 64px; 
}

.blog-img {
    background-size: cover;
    height: 230px; 
    text-align:center;
    background-position: center;
}

/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
  	display:none;
  	position: fixed;
  	bottom: 20px;
  	right: 20px;
  	width: 50px;
  	height: 50px;
  	line-height: 50px;
  	text-align: center;
  	background: #6195FF;
  	border-radius:3px;
  	color: #FFF;
  	z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  	cursor: pointer;
}

/* #back-to-top:after { */
    /* content: "\f106"; */
    /* font-family: 'FontAwesome'; */
/* } */

#back-to-top:hover {
    opacity: 0.8;
}


/*------------------------------------*\
	Preloader
\*------------------------------------*/


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.preloader span {
    display: inline-block;
    background-color: #6195FF;
    width: 25px;
    height: 25px;
    -webkit-animation: 1s preload ease-in-out infinite;
            animation: preload 1s ease-in-out infinite;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-radius:50%;
}

.preloader span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.preloader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

@-webkit-keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}

@keyframes preload {
	0% {
	   -webkit-transform:scale(0);
	           transform:scale(0);
	}
  50% {
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  100% {
    -webkit-transform:scale(0);
            transform:scale(0);
  }
}


/*------------------------------------*\
	Portfolio
\*------------------------------------*/

.work {
    position: relative;
    padding: 10px;
}

.work>img {
  width: 100%;
}

.work .overlay {
    background: #1C1D21;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.work .work-content {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work .work-content span {
    display: block;
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #6195FF;
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.work .work-link {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.work .work-link a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #6195FF;
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

.work:hover .work-link {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}


/*------------------------------------*\
	Testimonial
\*------------------------------------*/

.testimonial {
    margin: 15px 0px;
}

.testimonial-meta {
    position: relative;
    padding-left: 150px;
    height: 70px;
    margin-bottom: 70px;
    padding-top: 28px;
}

.testimonial img {
    position: absolute;
    left: 0;
    top: 0;
    width: 130px !important;
    height: 130px !important;
    border-radius: 50%;
}

.testimonial h3 {
    margin-bottom: 5px;
}

.testimonial span {
    font-size: 14px;
    color: #6195FF;
}

/*------------------------------------*\
	Numbers
\*------------------------------------*/

.number {
    text-align: center;
    margin: 15px 0px;
}

.number i {
    color: #6195FF;
    font-size: 36px;
    margin-bottom: 20px;
}

.number h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

/*------------------------------------*\
	Team
\*------------------------------------*/

.team {
    position: relative;
    background-color: #F4F4F4;
    padding: 40px 20px;
    margin: 15px 0px;
}

.team::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: 1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}

.team:hover:after {
    height: 100%;
}

.team-img {
    position: relative;
    margin-bottom: 20px;
    z-index: 11;
}

.team-img>img {
  width: 100%;
}

.team .overlay {
    background: #1C1D21;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.team:hover .overlay {
    opacity: 0.8;
}

.team .team-content {
    text-align: center;
    position: relative;
    z-index: 11;
}

.team .team-content h3 {
    margin-bottom: 10px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team .team-content span {
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.team:hover .team-content h3 {
    color: #FFF;
}

.team:hover .team-content span {
    color: #6195FF;
}

.team .team-social {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.team .team-social a {
    display: block;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: #6195FF;
    color: #FFF;
}

.team:hover .team-social {
    opacity: 1;
}


/*------------------------------------*\
	Blog
\*------------------------------------*/

.blog {
    background-color: #343a40;
    color: white;
    margin: 10px -5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.blog .blog-content {
    padding: 20px 20px 40px;
}

.blog .blog-meta {
    margin-bottom: 20px;
}

.blog .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.blog .blog-meta li i {
    color: #6195FF;
    margin-right: 5px;
}

/*------------------------------------*\
	Blog post
\*------------------------------------*/

#main .blog .blog-content {
  padding: 20px 0px 0px;
}

#main .blog {
  margin-top: 0px;
}

.blog#doc {
    height: 95%;
    position: relative;
    padding-bottom: 70px;
}

/* -- blog tags -- */

.blog-tags {
    margin: 10px 0px;
}

.blog-tags#doc {
    position: absolute;
    bottom: 0;
}


.blog-tags h5 {
    margin-bottom: 0;
    display: inline-block;
}

.blog-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 13px;
    margin: 2px 0px;
    background: #F4F4F4;
    color: #10161A;
}

.blog-tags a:hover {
  color: #FFF;
  background-color: #6195FF;
}

.blog-tags a i {
    margin-right: 3px;
    color: #6195FF;
}

.blog-tags a:hover i {
  color: #FFF;
}


/* -- blog author -- */

.blog-author {
    margin: 40px 0px;
}

.blog-author .media .media-left {
    padding-right: 20px;
}

.blog-author .media {
    padding: 20px;
    border: 1px solid #EEE;
}

.blog-author .media .media-heading {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.blog-author .media .media-heading h3 {
    display: inline-block;
    margin: 0;
}

.blog-author .media .media-heading .author-social {
  float: right;
}

.blog-author .author-social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 5px;
    color: #FFF;
    background-color: #6195FF;
}

/* -- blog comments -- */

.blog-comments {
    margin: 40px 0px;
    padding-top: 40px;
}

.blog-comments .media {
    padding: 20px 20px 10px;
    background-color: #FFF;
    color: black;
    border-top: 1px solid #EEE;
    border-bottom: 0px;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin-top: 0px;
}

.blog-comments .media:first-child {
    border-bottom: 0px;
}

.blog-comments .media:last-child {
    border-bottom: 1px solid #EEE;
}

.blog-comments .media .media-left {
  padding-right: 20px;
}

.blog-comments .media .media-body .media-heading {
    margin-bottom:10px;
}

.blog-comments .media .media-body .media-heading .time {
    font-size: 12px;
    margin-left: 20px;
    font-weight: 400;
    color: #868F9B;
}

.blog-comments .media .media-body .media-heading .reply {
    float: right;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.blog-comments .media .media-body .media-heading .icon {
    margin: 5;
    font-size: 14px;
    font-weight: 400;
}

.blog-comments .media.author {
    background-color: #F4F4F4;
    border-color: #6195FF;
    border-bottom: 1px solid #6195FF;
}
.blog-comments .media.author>.media-body>.media-heading {
    color: #6195FF;
}

.blog-comments .media.author + .media {
    border-top: 0px;
}

/* blog reply form */

.reply-form {
    margin: 40px 0px;
}

.reply-form form .input, .reply-form form .input , .reply-form form textarea {
	margin-bottom:20px;
}

.reply-form form .input, .reply-form form .input {
    width: calc(50% - 10px);
    display: inline-block;
}

.reply-form form .input:nth-child(2) {
    margin-left: 15px;
}

.blog-comments .modal-header {
    color: black;
}

/*------------------------------------*\
	Blog sidebar
\*------------------------------------*/

#aside .widget {
    margin-bottom: 40px;
    padding-right: 20px;
}

/* -- search sidebar -- */

#aside .widget-search {
    position: relative;
}

#aside .widget-search .search-input {
    padding-right: 50px;
}

#aside .widget-search .search-btn {
    position: absolute;
    right: 0px;
	bottom: 0px;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    background-color: transparent;
    color: #6195FF;
}

/* -- category sidebar -- */

.widget-category a {
    display: block;
    font-size: 14px;
    color: #354052;
    border-bottom: 1px solid #d1d1e0;
    padding: 5px;
}

.widget-category a:nth-child(1) {
  border-top: 1px solid #EEE;
}

.widget-category a span {
    float: right;
    color: #6195FF;
}

.widget-category a:hover {
    color: #6195FF;
}

/* -- tags sidebar -- */

.widget-tags a {
  display: inline-block;
  padding: 6px 13px;
  font-size: 14px;
  margin: 2px 0px;
  background: #F4F4F4;
  color: #10161A;
}

.widget-tags a:hover {
  color: #FFF;
  background-color: #6195FF;
}

/* -- posts sidebar -- */

.widget-post {
    min-height: 70px;
    margin-bottom: 0px;
}

.widget-sm-img {
    display: block;
    float: left;
    margin-right: 10px;
    background-size: cover;
    width: 55px;
    height: 55px; 
}

.widget-post a {
    display: block;
    color: #10161A;
    font-size: 14px;
}

.widget-post a:hover {
    color: #6195FF;
}

.widget-post .blog-meta {
    display: inline-block;
}

.widget-post .blog-meta li {
    display: inline-block;
    margin-right: 5px;
    color: #6195FF;
    font-size: 12px;
}

.widget-post li i {
    color: #6195FF;
    margin-right: 5px;
}




/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}


.contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header#dark-gradient {
    position: relative;
    background: linear-gradient(180deg, #5c6670, #343a40);
    color: white;
}


/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
    position: relative;
    background: linear-gradient(180deg, #343a40, #5c6670);
    color: white;
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    color: grey;
    margin: 0;
}


/*------------------------------------*\
	Off Canvas
\*------------------------------------*/

@media screen and (max-width: 767.99px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active .sidebar-offcanvas {
    right: -75%; /* 6 columns */
  }
  
  .row-offcanvas-right.active {
    right: 75%; /* 6 columns */
  }
  
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%; /* 6 columns */
  }
}


/*------------------------------------*\
	More Tag
\*------------------------------------*/

#load_more {
    color: white;
    margin-top: 10px;
    float: right;
    font-size: 12px;
    cursor: pointer;
}

/*------------------------------------*\
	Article List
\*------------------------------------*/

.blog .work {
    padding: 0;
    cursor: pointer;
}

.menu-offcanvas {
    overflow-y: auto;
}

#doc-list {
    background-color: #333333;
}

#doc-list p {
    color: white;
}
.p-header {
    margin-top: 20px;
}

/*------------------------------------*\
	Article Detail
\*------------------------------------*/

#doc-detail {
    background-color: white;
}

#doc-title {
    font-size:36px;
    color: white;
}

#doc-header {
    font-size: 13px;
    font-style: italic;
    color: #dfe3e3;
}

#doc-content pre{
   display: block;
   font-family: monospace;
   padding: 9.5px;
   margin: 0 0 15px;
   font-size: 16px;
   line-height: 1.42857143;
   color: black;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #f8f8ff;
   border: 0px solid #99ddff;
   border-left: 5px solid #99ddff;
   border-radius: 0px;
   font-family: 'Ubuntu Mono', monospace;
}

#doc-content pre code {
    padding-left: 10px;
}

#doc-content pre.warning,
#doc-content pre.error,
#doc-content pre.info {
   font-size: 16px;
   font-family: 'Ubuntu', sans-serif;
   padding-left: 15px;
   white-space: pre-line;
   word-break: normal;
}

#doc-content pre.info {
   background-color: #e6f0ff;
   border-left: 5px solid #0066ff;
}

#doc-content pre.warning {
   background-color: #ffffe6;
   border-left: 5px solid orange;
}

#doc-content pre.error {
   background-color: #ffe6e6;
   border-left: 5px solid #ff1a1a;
}

#doc-content pre.terminal {
   background-color: black;
   border-left: 5px solid #63635f;
   color: white;
}

#doc-content code,
#doc-content li.code,
#doc-content td.code {
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    padding: 0;
    background-color: #f0f0f7;
}

#doc-content ul, #doc-content ol {
    margin-left: 24px;
    list-style: disc;
}

#doc-content p,
#doc-content li,
#doc-content td,
#doc-content a { 
    font-size: 16px;
    margin-bottom:10px;
}

#doc-content h1 { 
    font-size: 30px;
    margin-bottom: 28px;
    font-weight: 100;
    padding-bottom: 7px;
    border-bottom: #6195FF 2px solid;
}
#doc-content h2 { 
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 100;
    padding-bottom: 7px;
    border-bottom: #6195FF 2px dotted;
}

#doc-content h3 { font-size: 22px; margin-bottom: 14px; font-weight: 100; }
#doc-content h4 { font-size: 20px; margin-bottom: 10px; font-weight: 100; }

#doc-content code.computer_code {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#doc-content code.word_code {
    background-color: #d1d3d8;
    border: 1px solid #d1d3d8;
    color: black;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#doc-content tt {
    color: white;
}

#doc-content tt.container {
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: black;
    padding: 5px 10px;
}

#doc-menu .btn-outline-primary {
    margin-bottom: 3px;
    padding: 2px 6px;
    font-size: 10px;
    color: white;
}

#doc-source {
    margin-top: 50px;
}

#doc-source a {
    font-size: 14px;
}

.title_hr {
    color: white;
    padding-bottom: 5px; 
    margin-bottom: 15px;
    border-bottom: #6195FF 3px solid;  
}

a[aria-expanded=true] .fa-caret-right {
    display: none;
}
a[aria-expanded=false] .fa-caret-down {
    display: none;
}
a[aria-expanded=true] .fa-plus-square {
    display: none;
}
a[aria-expanded=false] .fa-minus-square {
    display: none;
} 



/*------------------------------------*\
	Profil View
\*------------------------------------*/


#profile {
    background-color: white;
    color: black;
}

#profile h1 {
    font-size: 36px;
    margin-bottom: 35px;
}

#profile h3.skill_cat {
    padding-bottom: 8px;   
    border-bottom: #6195FF 2px dotted;
    margin-top: 50px;
    margin-bottom: 25px;
}

#profile p {
    margin-bottom:10px;
    margin-top:15px; 
}

#profile div .al-corp p {
    margin-bottom: 1px;
    display: inline-block;
    direction:ltr;
}

#profile .progress {
    border: 1px solid grey;
    background-color: #f1f3f3;
}

#profile .formation .timeline-marker:before {
    background: #9966ff;
}
#profile .formation .timeline-marker:after {
    background: #80d4ff;
}

#profile .formation .timeline-item:not(.period):hover .timeline-marker:before {
    border: 3px solid #9966ff;
}

#profile .formation .timeline-content h5 i:hover {
    color: #9966ff;
}

#profile .experience .timeline-content h5 i:hover {
    color: #4d94ff;
}

#profile .total_time {
    font-size: 11px;
    letter-spacing: normal;
}

#profile-footer {
    margin-bottom: 17px;
}


/*------------------------------------*\
	Article Create/Modify
\*------------------------------------*/

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
    height: 200px;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
    display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.bootstrap-select .check-mark::after {
  content: "(✓)";
}

/*------------------------------------*\
	Login
\*------------------------------------*/

.bg-login {
    background-color: #354052;
}

#login {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login i {
    color: #354052;
}

#login .global-input {
    background-color: white;
}

