/*==== TIMELINE ====*/

.timeline-content .timeline-title {
    margin-top: 0px;
    line-height: 110%;
}

.timeline-content h5 {
    margin-top: 5px;
    font-size: 22px;
}

.timeline-content h5 i {
    font-size: 18px;
}

.timeline-content a[aria-expanded=true] .fa-arrow-circle-right {
    display: none;
}
.timeline-content a[aria-expanded=true] .fa-arrow-circle-left {
    display: none;
}
.timeline-content a[aria-expanded=false] .fa-arrow-circle-down {
    display: none;
}

/*-- GENERAL STYLES --*/

.timeline {
  line-height: 1.4em;
  list-style: none;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 14px;
  font-weight: 0;
  letter-spacing: 2px;
  margin: 0 0 .5em 0;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #4d94ff;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #b3b3b3;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #4d94ff;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 3px;
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 18px 0 43px;
}
.period .timeline-title {
  margin: 0;
}

.timeline-marker .timeline-content {
  margin: 5px;
}


/*--- MOD: TIMELINE CENTERED ---*/

@media (max-width: 992px) {
    .timeline {
        margin-left: 5px;
    }

    .timeline-content .fa-arrow-circle-left {
         display: none;
    }
}

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
        direction:ltr;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content .fa-arrow-circle-left {
        display: none;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
        direction: rtl;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content .fa-arrow-circle-right {
        display: none;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 20px 0 45px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}