<!DOCTYPE html>

{% load static %}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Laurent-Alou Koné" >
        <title>{% block title %} BGK {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Paytone+One|Ubuntu|Ubuntu+Mono|Oswald" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="home_menu">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}"> Brown GK </a>
                <button class="navbar-toggler" type="button">
                    <input class="burger-check" id="burger-check" data-toggle="collapse" data-target="#MyMenu" aria-controls="MyMenu" aria-expanded="false" aria-label="Toggle navigation" type="checkbox"><label for="burger-check" class="burger"></label>
                </button>
                <div class="collapse navbar-collapse" id="MyMenu">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav my-2 my-lg-0" style="font-size:15px;">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doc_list' %}"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Docs</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'doc_create' %}">
                                    <i class="fas fa-file-signature fa-fw" aria-hidden="true"></i> New
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> 
                                    <i class="fas fa-wrench fa-fw" aria-hidden="true"></i> Tools
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="font-size:14px;">
                                    <a class="dropdown-item" href="{% url 'flower_view' %}">
                                        <i style="min-width:20px;" class="fas fa-leaf fa-fw" aria-hidden="true"></i> Flower
                                    </a>
                                    <div style="margin:2px;" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'tag_list' %}">
                                        <i style="min-width:20px;" class="fas fa-tags fa-fw" aria-hidden="true"></i> Tags
                                    </a>
                                    <div style="margin:2px;" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'docker_images' %}">
                                        <i style="min-width:20px;" class="fab fa-docker fa-fw" aria-hidden="true"></i> Docker
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_me' %}"> <i class="far fa-paper-plane fa-fw" aria-hidden="true"></i> About Me</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> 
                                    <i class="far fa-user-circle fa-lg" aria-hidden="true"></i> {{ user.get_username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="font-size:14px;">
                                    <a class="dropdown-item" href="{% url 'draft_copy_list' %}">
                                        <i style="min-width:20px;" class="fas fa-highlighter fa-fw" aria-hidden="true"></i> Draft Copy
                                    </a>
                                    <div style="margin:2px;" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i style="min-width:20px;" class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i> Logout
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}"> <i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main">	
            <section id="content">
                {% block content %}{% endblock %}
            </section>
        </main>
        <footer id="footer" class="sm-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-follow">
                            {% for social_link in social_link_lst %}
                                <li data-toggle="tooltip" data-placement="top" title="{{social_link.name}}">
                                    <a href="{{social_link.url}}"><i class="{{social_link.icon}} fa-lg" aria-hidden="true"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="footer-copyright">
                            <p>Brown GK © 2018</p> 
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="back-to-top">
            <i class="fas fa-arrow-up fa-lg"></i>
        </div>
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/offcanvas.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    </body>
</html>
