{% extends "blog/base.html" %}

{% load blog_tags static %}

{% block title %} Docs {% if category_name %}by {{ category_name|capfirst }}{% endif %}{% endblock %}
{% block content %}

<header id="dark-gradient">
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            <h2>
                {% if not category_name %}
                    <i class="fas fa-globe-africa"></i>
                    <strong>D</strong>ocs <small>({{ paginator.count }})</small>
                {% else %}
                    <i class="fa {{ category_icon }} fa-fw"></i>
                    <strong>{{ category_name.0|capfirst }}</strong>{{ category_name|slice:"1:" }}s <small>({{ paginator.count }})</small>
                {% endif %}
            </h2>
            <p style="margin-top:25px;">
                {% if not category_name %}
                    <form action="{% url 'doc_search_list_view' %}" method="get" accept-charset="utf-8" class="form-inline" id="header-input">
                        <div class="global-input">
                            <input class="my-input" id="tag_list" type="text" id="searchbox" name="q" placeholder="Docs ..." aria-label="Search">
                            <button class="input-btn" type="button"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'doc_search_list_view' category_name %}" method="get" accept-charset="utf-8" class="form-inline" id="header-input">
                        <div class="global-input">
                            <input class="my-input" id="tag_list" type="text" id="searchbox" name="q" placeholder="{{ category_name|capfirst }}s ..." aria-label="Search">
                            <button class="input-btn" type="button"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </form>
                {% endif %}
            </p>
            <div class="btn-group btn-group-sm" role="group">
                <button onclick="document.location = '{% url 'doc_list' %}'" type="button" class="btn btn-light border-light {% if not category_name %}active{% endif %}">
                    <i class="fas fa-globe fa-fw"></i> All
                </button>
                {% for category in categories %}
                    <button onclick="document.location = '{% url 'doc_by_category' category.name %}'" type="button" class="btn btn-light border-light {% if category_name == category.name %}active{% endif %}">
                        <i class="fa {{category.icon}} fa-fw"></i> {{category.name_fmt}}
                    </button>
                {% endfor %}
            </div>
            {% if mode == 'search' %}
                <p class="p-header">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    Search |&nbsp;
                    <mark>
                        {% if request.GET.q %}{{ request.GET.q }}{% else %}[*]{% endif %}
                    </mark>
                </p>
            {% elif mode == 'tag' %}
                <p class="p-header">
                    <i class="fa fa-folder-open fa-lg" aria-hidden="true"></i>
                    By Tag | {{tag_name}}
                </p>
            {% endif %}
        </div>
    </div>
</header>

<div id="doc-list" class="main bg-dark">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-12 col-md-8 xs-padding">
                {% if is_paginated %}
                    <nav id="paginated" aria-label="navigation">
                        <ul class="pagination pagination-sm">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Prev.</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev.</a></li>
                            {% endif %}
                            {% for page_nb in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == page_nb %}active{% endif %}"><a class="page-link" href="?{% url_replace page=page_nb %}">{{ page_nb }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                               <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                            {% endif %}
                       </ul>
                    </nav>
                {% endif %}
                <p class="float-right d-md-none">
                  <button type="button" class="btn btn-outline-light btn-sm" data-toggle="offcanvas">
                      Menu <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                  </button>
                </p>
                {% if docs %}
                    <table style="margin-top:30px;" class="table table-hover table-responsive-sm table-sm">
                        {% for doc in docs %}
                            <tr onclick="document.location = '{% url 'doc_view' doc.id doc.slug %}';" style="cursor:pointer;">
                                <td>
                                    {% if doc.image %}
                                        <div class="widget-sm-img" style="background-image:url({{doc.image.url}})"></div>
                                    {% else %}
                                        <div class="widget-sm-img" style="background-color:#d9d9d9"></div>
                                    {% endif %}
                                    <p>{{doc.title}}</p>
                                </td>
                                <td><i style="color:white" class="fa {{doc.category.icon}}" aria-hidden="true"></i></td>
                                <td>
                                    {% for tag in doc.tag.all %}
                                        <span class="badge badge-pill badge-light">
                                            <a href="{% url 'doc_by_tag' tag.lower_name %}">{{tag.name}}</a>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-center col-12 col-md-6 mx-auto">
                        <br>
                        <hr class="bg-light">
                        {% if not category_name %}
                            <h3 class="text-white">... No docs ! ...</h3>
                        {% else %}
                            <h3 class="text-white">... No {{ category_name }}s ! ...</h3>
                        {% endif %}
                        <hr class="bg-light">
                        <br>
                    </div>
                {% endif %}
                {% if is_paginated %}
                    <br>
                    <nav id="paginated" aria-label="navigation">
                        <ul class="pagination pagination-sm">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Prev.</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev.</a></li>
                            {% endif %}
                            {% for page_nb in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == page_nb %}active{% endif %}"><a class="page-link" href="?{% url_replace page=page_nb %}">{{ page_nb }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                               <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                            {% endif %}
                       </ul>
                    </nav>
                {% endif %}
            </div>
            <aside id="aside" class="col-md-4 sidebar-offcanvas menu-offcanvas xs-padding">
                <div class="widget">
                    <h3 class="title_hr">Tags</h3>
                    <div class="widget-search">
                        <input class="search-input" id="tag_search" type="text" placeholder="Tags ...">
                        <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                    <br>
                    <div class="widget-category load_tag" id="tag_list">
                        {% for tag in tags %}
                            {% if tag.doc_count != 0 %}
                                <a href="{% url 'doc_by_tag' tag.lower_name %}" style="color:white;display:none;">
                                    <i style="color:white" class="{{tag.icon}} fa-fw" aria-hidden="true"></i> {{tag.name}}<span>({{tag.doc_count}})</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a id="load_more">+ de Tags</a>
                </div>
            </aside>
        </div>
    </div>
</div>

<script src="{% static 'js/doc-function.js' %}"></script>
<script>
    $(document).ready(more_tag());
    $(document).ready(search_tag());
</script>

{% endblock %}
