{% extends "blog/base.html" %}

{% load blog_tags static %}

{% block title %} {{doc.title}} {% endblock %}
{% block content %}

<link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/docco.css' %}" rel="stylesheet">

<style>
    :target:before {
        content:"";
        display:block;
        height:90px; /* fixed header height*/
        margin:-90px 0 0; /* negative fixed header height */
    }
</style>

<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/doc-function.js' %}"></script>

<header>
    <div class="header-wrapper header-padding">
        <div class="container">
            
            <h1 id="doc-title">{{doc.title}}</h1>
            
            <p id="doc-header">
                <i class="{{doc.category.icon}} fa-fw" aria-hidden="true"></i> {{doc.category.name_fmt}}&nbsp;
                <i class="fa fa-user fa-fw" aria-hidden="true"></i> {{doc.author.first_name.upper.0}}.{{doc.author.last_name}}&nbsp;
                <i class="fa fa-clock fa-fw" aria-hidden="true"></i> {{doc.created|date:"d M Y"}}&nbsp;
                <i class="fa fa-edit fa-fw" aria-hidden="true"></i> {{doc.last_modified|convert_datetime_delta}}
            </p>
            
            {% if user.is_authenticated %}
                {% if user.username == doc.author.username or user.is_superuser %}
                    <div class="btn-group btn-group-sm" role="group">
                        <a href="{% url 'doc_modify' doc.id doc.slug %}" class="btn btn-outline-light btn-sm" role="button">
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'doc_delete' doc.id doc.slug %}" class="btn btn-outline-light btn-sm" role="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
        
        {% if doc.image %}
            <div class="bg-img" style="background-image: url('{{doc.image.url}}');">
                <div class="overlay"></div>
            </div>
        {% else %}
            <div class="bg-img" style="background-color: #595959;"></div>
        {% endif %}
        
    </div> 
</header> 

{% if doc %}

    <div id="doc-detail" class="bg-dark text-white">
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-md-8 sm-padding">
                    
                    <p class="float-right d-md-none">
                        <button type="button" class="btn btn-outline-light btn-sm" data-toggle="offcanvas">
                            <strong>Menu <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i></strong>
                        </button>
                    </p>
                    
                    <div id="doc-content" class="text-white">
                        {{doc.content|markdown|safe}}
                    </div>
                    
                    {% if doc.source %}
                        <div id="doc-source" style="margin-top:50px;">
                            <p class="title_hr"></p>
                            
                            {% for src in doc.source|t_split:',' %}
                                {% if 'http' in src %}
                                    <a href="{{src}}"><i class="fa fa-link fa-fw"></i> {{src}}</a>
                                {% else %}
                                    <a href="#"><i class="fa fa-unlink fa-fw"></i> {{src}}</a>
                                {% endif %}
                                <br>
                            {% endfor %}
                            
                        </div>
                    {% endif %}
                    <!-- blog comments -->
                    <div class="blog-comments">
                        <h3 class="title">
                            {{comments|length}} Comment{% if comments|length > 1 %}s{% endif %}
                        </h3>
                        <br>
                        <ul class="list-unstyled">
                            {% for comment in comments %}
                                {% if not comment.parent %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <i class="far fa-comment fa-dw"></i>  {{comment.author.username}}
                                                <span class="time">{{comment.last_modified|convert_datetime_delta}}</span>
                                                &nbsp;
                                                {% if user.is_authenticated %}
                                                    <a data-toggle="modal" data-target="#{{comment.id}}_reply_box" href="#" class="reply">
                                                        Reply <i class="fa fa-reply"></i>
                                                    </a>
                                                    {% if user.username == doc.author.username or user.is_superuser %}
                                                        <a data-toggle="modal" data-target="#{{comment.id}}_modify_box" href="#" class="icon">
                                                           <i class="fa fa-pencil-alt"></i>
                                                        </a>
                                                        <a data-toggle="modal" data-target="#{{comment.id}}_delete_box" href="#" class="icon">
                                                           <i class="fa fa-trash"></i>
                                                        </a>&nbsp;
                                                    {% endif %}
                                                {% else %}
                                                    <a class="reply" href="{% url 'login' %}?next={{request.path}}" style="color:grey;">
                                                        Reply <i class="fa fa-reply"></i>
                                                    </a>
                                                {% endif %}
                                            </h4>    
                                            <p class="post-content">{{comment.content}}</p>
                                            
                                            {% if comment.childs %}
                                                {% for child_comment in comment.childs %}
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <i class="far fa-comments fa-dw"></i> {{child_comment.author.username}}
                                                                <span class="time">{{child_comment.last_modified|convert_datetime_delta}}</span>
                                                                &nbsp;
                                                                {% if user.is_authenticated %}
                                                                    {% if user.username == doc.author.username or user.is_superuser %}
                                                                        <a data-toggle="modal" data-target="#{{child_comment.id}}_modify_box" href="#" class="icon">
                                                                           <i class="fa fa-pencil-alt"></i>
                                                                        </a>
                                                                        <a data-toggle="modal" data-target="#{{child_comment.id}}_delete_box" href="#" class="icon">
                                                                           <i class="fa fa-trash"></i>
                                                                        </a>&nbsp;
                                                                    {% endif %}
                                                                {% endif %}
                                                            </h4>
                                                            <p class="post-content">{{child_comment.content}}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div> 
                                {% endif %}
                                <div class="modal fade" id="{{comment.id}}_reply_box" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><i class="far fa-comments fa-fw"></i> Reply to {{comment.author.username}}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'comment_create' doc.id doc.slug comment.id %}" method="post" enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    <p class="post-content"><i class="far fa-envelope"></i> <em>{{comment.content}}</em></p>
                                                    {% csrf_token %}
                                                    {{ form.content.errors }}
                                                    {{ form.content }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Reply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="{{comment.id}}_modify_box" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><i class="far fa-comments fa-fw"></i> Modify Comment ({{comment.author.username}})</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'comment_modify' doc.id doc.slug comment.id %}" method="post" enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ form.content.errors }}
                                                    {{ form.content }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Modify</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="{{comment.id}}_delete_box" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><i class="far fa-comments fa-fw"></i> Deleted Comment ({{comment.author.username}})</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'comment_delete' doc.id doc.slug comment.id %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <p class="post-content"><em>{{comment.content}}</em></p>
                                                    {% if comment.childs %}
                                                        <p><i class="fas fa-exclamation-circle fa-dw"></i> {{comment.childs|length}} Response(s)</p>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                        {% if user.is_authenticated %}
                            <div class="reply-form">
                                <h3 class="title">Leave a Comment</h3>
                                <br>
                                <form action="{% url 'comment_create' doc.id doc.slug %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.content.errors }}
                                    {{ form.content }}
                                    <button type="submit" class="btn btn-outline-primary"><i class="far fa-comment-alt"></i> Add</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <aside id="aside" class="col-md-4 sidebar-offcanvas menu-offcanvas xs-padding">
                    {% if doc.menu %}
                        <div class="widget">
                            <div id="doc-menu">
                                <h3 class="title_hr">Menu 
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-outline-primary hide_all">
                                            <i class="fa fa-angle-double-up fa-fw" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary expand_all">
                                            <i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </h3>
                                <ul class="nav flex-column" id="menu_list"></ul>
                            </div>
                        </div>
                        <script>$(document).ready(doc_menu());</script>
                    {% endif %}
                    <div class="widget">
                        <h3 class="title_hr">Similar Doc</h3>
                        {% for a in last_docs_by_tag %}
                            <div class="widget-post">
                                <a href="{% url 'doc_view' a.id a.slug %}" style="color:white;">
                                    {% if a.image %}
                                        <div class="widget-sm-img" style="background-image:url({{a.image.url}})"></div>
                                    {% else %}
                                        <div class="widget-sm-img" style="background-color:#d9d9d9;"></div>
                                    {% endif %}
                                    {{a.title|truncatechars:30}}
                                </a>
                                <ul class="blog-meta">
                                    <li>{{a.created|date:"d M, Y"}}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="widget">
                        <h3 class="title_hr">Tags</h3>
                        <div class="widget-search">
                            <input class="search-input" id="tag_search" type="text" placeholder="Tags ...">
                            <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                        </div>
                        <br>
                        <div class="widget-category load_tag" id="tag_list">
                           {% for tag in tags %}
                                {% if tag.doc_count != 0 %}
                                    <a href="{% url 'doc_by_tag' tag.lower_name %}" style="color:white;display:none;">
                                        <i style="color:white" class="{{tag.icon}} fa-fw" aria-hidden="true"></i> {{tag.name}}<span>({{tag.doc_count}})</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a id="load_more">+ de Tags</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endif %}

<script>hljs.initHighlightingOnLoad();</script>

<script>
    $(document).ready(code_modal());
    $(document).ready(add_icon_pre());
    $(document).ready(more_tag());
    $(document).ready(search_tag());
    $(document).ready(lightbox_img());
</script>

{% endblock %}
