{% extends "blog/base.html" %}

{% load static %}

{% block title %} Doc Deletion {% endblock %}
{% block content %}

<header id="dark-gradient">
    <!-- header wrapper -->
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            
            <h2 class="title">
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i> Doc Deletion
            </h2>
            
        </div>
    </div>
    <!-- /header wrapper -->   
</header> 

<div class="md-padding bg-dark text-white main">	
    <div class="container">	
        <div class="row">
            <div class="text-center col-12 col-md-6 mx-auto">
                
                <h2>{{doc.title}}</h2>
                <br>
                <h4><i class="{{cat_icon|safe}} fa-fw" aria-hidden="true"></i> Doc - {{doc.author.first_name.upper.0}}.{{doc.author.last_name}} [<i class="fa fa-user fa-fw" aria-hidden="true"></i>  {{doc.author.username}} ]</h4>
                <br>
                <hr class="bg-light">
                <p><i class="far fa-calendar fa-fw" aria-hidden="true"></i> Created : {{doc.created|date:"d/m/Y H:i"}}</p>
                <p><i class="far fa-edit fa-fw" aria-hidden="true"></i> Modification : {{doc.last_modified|date:"d/m/Y H:i"}} ({{doc.author_update}})</p>
                <hr class="bg-light">
                <br>
                <br>
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
