{% extends "blog/base.html" %}

{% load static %}

{% block title %}New Doc{% endblock %}
{% block content %}
    
<header id="dark-gradient">
    <!-- header wrapper -->
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            
            <h2 class="title">New Doc</h2>
            
        </div>
        
    </div>
    <!-- /header wrapper -->   
</header> 

<div class="xs-padding bg-dark text-white main">
    <div class="container">
        
        {% if valid %}
            <p> Doc Created ! </p>
        {% endif %}
        
        <form action="{% url 'doc_create' %}" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.media }}
            
            <p><strong><i class="fa fa-star fa-fw" aria-hidden="true"></i> Title</strong></p>
            {{ form.title.errors }}
            {{ form.title }}
            <br>
            
            <p><strong><i class="fa fa-certificate fa-fw" aria-hidden="true"></i> Category</strong></p>
            {{ form.category.errors }}
            {{ form.category }}
            <br>
            
            <p><strong><i class="fa fa-map fa-fw" aria-hidden="true"></i> Summary</strong></p>
            {{ form.summary.errors }}
            {{ form.summary }}
            <br>
            
            <p><strong><i class="fa fa-link fa-fw" aria-hidden="true"></i> Source</strong></p>
            {{ form.source.errors }}
            {{ form.source }}
            <br>
            
            <p><strong><i class="fa fa-tag fa-fw" aria-hidden="true"></i> Tags</strong></p>
            {{ form.tag.errors }}
            {{ form.tag }}
            <br>
            <br>
            
            <p><strong><i class="fa fa-images fa-fw" aria-hidden="true"></i> Image</strong></p>
            {{ form.image.errors }}
            {{ form.image }}
            <br>
            <br>
           
            <p><strong><i class="fas fa-box-open fa-fw" aria-hidden="true"></i> Content</strong></p>
            {{ form.content.errors }}
            {{ form.content }}
            <br>
            
            {{ form.menu.errors }}
            <div class="form-check">
                {{ form.menu }}
                <label class="form-check-label">Menu</label>
            </div>
            
            {% if user.is_superuser %}
                {{ form.published.errors }}
                <div class="form-check">
                    {{ form.published }}
                    <label class="form-check-label">Publish</label>
                </div>
            {% endif %}
            <hr class="bg-light">
            <button type="submit" class="btn btn-primary">Create</button>
            
        </form>
        
        <br>
    </div>
</div>

{% endblock %}
