{% extends "blog/base.html" %}

{% load static %}

{% block title %} Test {% endblock %}
{% block content %}
<header id="dark-gradient">
    <!-- header wrapper -->
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
           

<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
            <a href="{{ file }}">Download</a>
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
            
        </div>
    </div>
    <!-- /header wrapper -->   
</header> 
{% endblock %}
