{% extends "blog/base.html" %}

{% load static %}
{% load blog_tags static %}

{% block title %} draft copy {% endblock %}
{% block content %}

<header id="dark-gradient">
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            
            <h2>
                <i style="cursor:pointer;" class="fa fa-highlighter fa-fw" aria-hidden="true" onclick="document.location = '{% url 'draft_copy_list' %}';"></i>
                <strong>D</strong>raft Copy
            </h2>
        </div>
        <p style="margin-top:40px;">            <form action="{% url 'draft_copy_search_list_view' %}" method="get" accept-charset="utf-8" class="form-inline" id="header-input">                <div class="global-input">                    <input class="my-input" id="tag_list" type="text" id="searchbox" name="q" placeholder="Search ..." aria-label="Search">                    <button class="input-btn" type="button"><i class="fa fa-search fa-lg"></i></button>                </div>            </form>
            {% if mode == 'search' %}
                <p class="p-header">
                    <i class="fa fa-search fa-fw" aria-hidden="true"></i> 
                    {{result_cnt}} Doc(s) |&nbsp;
                    <mark>
                        {% if request.GET.q %}{{ request.GET.q }}{% else %}[*]{% endif %}
                    </mark>
                </p>
            {% endif %}        </p>
    </div>
</header> 


<div class="bg-dark text-white main">
    <div class="container">
        <div class="row">
            {% if docs %}
            
                <table style="margin-top:30px;" class="table table-hover table-responsive-sm table-sm">
                    {% for doc in docs %}
                            <tr onclick="document.location = '{% url 'doc_view' doc.id doc.slug %}';" style="cursor:pointer;">
                                <td>
                                    {% if doc.image %}
                                        <div class="widget-sm-img" style="background-image:url({{doc.image.url}})"></div>
                                    {% else %}
                                        <div class="widget-sm-img" style="background-color:#d9d9d9"></div>
                                    {% endif %}
                                    <p>{{doc.title}}</p>
                                </td>
                                <td><i style="color:white" class="fa {{doc.category.icon}}" aria-hidden="true"></i></td>
                                <td>
                                    {% for tag in doc.tag.all %}
                                        <span class="badge badge-pill badge-light"><a href="{% url 'doc_by_tag' tag.lower_name %}">{{tag.name}}</a></span>
                                    {% endfor %}
                                </td>
                                <td><i class="far fa-calendar fa-fw" aria-hidden="true"></i> {{doc.created|date:"d/m/Y"}}</td>
                                <td><i class="fa fa-edit fa-fw" aria-hidden="true"></i> {{doc.last_modified|convert_datetime_delta}}</td>
                                <td>
                                    <a href="{% url 'doc_modify' doc.id doc.slug %}" class="btn btn-outline-light btn-sm" role="button">
                                    <i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                                    <a href="{% url 'doc_delete' doc.id doc.slug %}" class="btn btn-outline-light btn-sm" role="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            
            {% else %}
                
                <div class="text-center col-12 col-md-6 mx-auto">
                    <br>
                    <hr class="bg-light">
                    <h3>... No Doc ...</h3>
                    <hr class="bg-light">
                    <br>
                </div>
                
            
            {% endif %}
            
            {% if is_paginated %}
                <nav aria-label="navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                        {% endif %}
                        
                        {% for page_nb in page_obj.paginator.page_range %}
                        
                            {% if page_obj.number == page_nb %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page_nb }}">{{ page_nb }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_nb }}">{{ page_nb }}</a></li>
                            {% endif %}
                            
                        {% endfor %}
                                
                        {% if page_obj.has_next %}
                           <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                        {% endif %}    
                   </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
