{% extends "blog/base.html" %}

{% load blog_tags static %}

{% block title %} BGK Home {% endblock %}
{% block content %}
    
    <header id="home">
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <div class="home-content">
                            <h1>Welcome to Brown GK</h1>
                            
                            <p>
                                ... Petite Base de Connaissances ...
                            </p>
                        
                            <p>
                                <form action="{% url 'doc_search_list_view' %}" method="get" accept-charset="utf-8" class="form-inline" id="header-input">
                                    <div class="global-input">
                                        <input class="my-input" id="tag_list" type="text" id="searchbox" name="q" placeholder="Search Doc ..." aria-label="Search">
                                        <button class="input-btn" type="button"><i class="fa fa-search fa-lg"></i></button>
                                    </div>
                                </form>
                            </p>
                            
                            <p id="signature">
                                <em><i class="fas fa-bomb"></i> By Laurent-Alou Koné <i class="fas fa-at"></i>LoKo</em>
                            </p>
                            
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="bg-img" style="background-image: url('{% static 'img/6833.jpg' %}');">
            <div class="overlay"></div>
        </div>
    </header>
    
    <!-- Dernières Actualisation -->
	<div class="section md-padding" style="background:linear-gradient(80deg, #8f99a3, #f1f2f4);">
		<div class="container">
			<div class="row">
            
				<div class="col-md-12 text-center">
                    <h2 class="title" style="margin-bottom: 50px;">Last Update</h2>
				</div>
                
                {% for doc in docs %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog" id="doc">
                            
                            <div class="work" onclick="window.location='{% url 'doc_view' doc.id doc.slug %}';">
                                {% if doc.image %}
                                    <div class="blog-img" style="background-image: url({{doc.image.url}})"></div>
                                {% else %}
                                    <div class="blog-img" style="background-color: #4774b6"></div>
                                {% endif %}
                                <div class="overlay"></div>
                                <div class="work-content">
                                    <h3>{{doc.title}}</h3>
                                </div>
                            </div>
                            
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="{{doc.category.icon}}"></i>{{doc.category.name_fmt}}</li>
                                    <li><i class="fa fa-user"></i>{{doc.author.first_name.upper.0}}.{{doc.author.last_name}}</li>
                                    <li><i class="fa fa-edit"></i>{{doc.last_modified|convert_datetime_delta}}</li>
                                </ul>
                                <a href="{% url 'doc_view' doc.id doc.slug %}"><h3>{{doc.title}}</h3></a>
                                <p>{{doc.summary}}</p>
                                
                                <div class="blog-tags" id="doc">
                                    {% for tag in doc.tag.all %} 
                                        <a href="{% url 'doc_by_tag' tag.lower_name %}"><li class="{{tag.icon}}"></li> {{tag.name}}</a>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
			
			</div>
		</div>
	</div>
    
	<div id="testimonial" class="section md-padding">

		<div class="bg-img" style="background-image: url('{% static 'img/Lights-on-a-Dark-Background.jpg' %}');">
			<div class="overlay"></div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div id="testimonial-slider" class="owl-carousel owl-theme">
                        <div class="col-md-12 text-center">
                            <h2 class="title text-white">About Me</h2>
                            <br>
                        </div>
                        
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="{{profile.image.url}}" alt="">
								<h3 class="white-text">{{profile.first_name}} {{profile.name}}</h3>
								<span>{{profile.job_title}}</span>
							</div>
							<p class="white-text">{{profile.content}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<div id="numbers" class="section sm-padding bg-dark text-white">
		<div class="container">
			<div class="row">
                
                {% for category in categories %}
                
                    <div class="col-4">
                        <div class="number">
                            <i class="{{category.icon}}"></i>
                            <h3><span class="counter">{{category.doc_count}}</span></h3>
                            <span>Number of {{category.name_fmt}}s</span>
                        </div>
                    </div>
				
                {% endfor %}

			</div>
		</div>
	</div>
    
{% endblock %}
