{% extends "blog/base.html" %}

{% load static %}

{% block title %}Connexion{% endblock %}
{% block content %}
  
<header id="home" class="bg-login">
    <div class="home-wrapper text-center text-white">
        <div class="container">
            <div class="row">
                <div id="login">
                    {% if user.is_authenticated %}
                        <div class="alert alert-light" role="alert">
                            <strong>Vous êtes connectés {{ user.username }} !</strong>
                        </div>
                        
                    {% else %}
                        
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                        
                        <form action="{% url 'login' %}?next={{request.GET.next}}" method="post" >
                            
                            {% csrf_token %}
                            
                            <hr class="bg-light">
                            
                            {{ form.username.errors }}
                            <div class="global-input">
                                {{ form.username }}
                                <button class="input-btn" type="button"><i class="fa fa-user fa-lg"></i></button>
                            </div>
                            
                            {{ form.password.errors }}
                            <div class="global-input">
                                {{ form.password }}
                                <button class="input-btn" type="button"><i class="fa fa-key fa-lg"></i></button>
                            </div>
                            
                            <hr class="bg-light">
                            
                            <button type="submit" value="Login" class="btn btn-outline-light">Se Connecter</button>
                            
                        </form>
                    {% endif %}
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock %}