{% extends "blog/base.html" %}

{% load static %}

{% block title %}Creation Memo{% endblock %}
{% block content %}
    
    <h2>Login</h2>
    <br>
    
    <div class="row">
    
        {% if mismatch_password %}
            <p> Mismatch Password ! </p>
        {% endif %}
        
        <form method="post" action="{% url 'new_user' %}">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.username.errors }}
                <label>User</label>
                <input type="text" class="form-control" id={{ form.username }}>
            </div>
            
            <div class="form-group">
                {{ form.email.errors }}
                <label>Email</label>
                <input type="text" class="form-control" id={{ form.email }}>
            </div>
            
            <div class="form-group">
              {{ form.password.errors }}
              <label>Password</label>
              <input type="password" class="form-control" id={{ form.password }}>
            </div>
            
            <div class="form-group">
              {{ form.confirm_password.errors }}
              <label>Confirm Password</label>
              <input type="password" class="form-control" id={{ form.confirm_password }}>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>

    </div>
    
{% endblock %}