{% extends "blog/base.html" %}

{% load blog_tags static %}

{% block title %} Manage Tags {% endblock %}
{% block content %}
<header id="dark-gradient">
    <div class="header-wrapper header-padding text-center text-white">
        <div class="container">
            <h1>
                <i class="fas fa-cogs fa-fw"></i>
                <strong>T</strong>ags
            </h1>
        </div>
    </div>
</header>
<div id="doc-list" class="main bg-dark">
    <div class="container">
        <div class="col-12 col-md-12 table-responsive">
            <table class="table table-hover table-dark">
                <tbody>
                    <tr class="bg-secondary">
                        <form action="{% url 'tag_create' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <td>
                                <button type="submit" class="btn btn-success btn-sm border-dark">
                                    <i class="fas fa-plus-circle"></i> Create
                                </button>
                            </td>
                            <td>
                                {{ form.name.errors }}
                                {{ form.name }}
                            </td>
                            <td></td>
                            <td>
                                {{ form.icon.errors }}
                                {{ form.icon }}
                            </td>
                            <td></td>
                            <td></td>
                        </form>
                    </tr>
                    {% for tag in tags %}
                        <tr>
                            <form action="{% url 'tag_modify' tag.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <td>
                                    <button type="submit" class="btn btn-outline-warning btn-sm">
                                        <i class="fas fa-edit"></i> Update
                                    </button>
                                </td>
                                <td>
                                    {{ form.name.errors }}
                                    {{ form.name }}
                                </td>
                                <td>{{ tag.name }}</td>
                                <td>
                                    {{ form.icon.errors }}
                                    {{ form.icon }}
                                </td>
                                <td><i class="{{ tag.icon }} fa-lg" data-toggle="tooltip" data-placement="top" title="{{ tag.icon }}"></i></td>
                            </form>
                            <td>
                                <a data-toggle="modal" data-target="#{{tag.id}}_delete_box" href="#" type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="far fa-trash-alt fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="{{tag.id}}_delete_box" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title"><i class="fas fa-tags fa-fw"></i> Delete Tag</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-dark text-center">
                                        <h3>- {{ tag.name }} -</h3>
                                        <br>
                                        <i class="{{ tag.icon }} fa-3x"></i>
                                    </div>
                                    <form action="{% url 'tag_delete' tag.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
