upstream django {
    server 127.0.0.1:{{ localhost_port }};
}

server {
    listen      80;
    server_name {{ domain_name }};
    charset     utf-8;

    client_max_body_size 10M;

    location /media  {
        alias {{ project_path }}/data/media;
    }
    location /static {
        alias {{ project_path }}/data/static;
    }
    location /.well-known {
        alias {{ project_path }}/.well-known;
        allow all;
    }
    location / {
        uwsgi_pass  django;
        include     /etc/nginx/uwsgi_params;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-NginX-Proxy true;
        proxy_ssl_session_reuse off;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }
}

server {
    listen 443 ssl;

    server_name {{ domain_name }};
    charset     utf-8;

    client_max_body_size 10M;

    location /media  {
        alias {{ project_path }}/data/media;
    }
    location /.well-known {
        alias {{ project_path }}/.well-known;
        allow all;
    }
    location /static {
        alias {{ project_path }}/data/static;
    }

    ssl on;
    ssl_certificate {{ letsencrypt_certs_dir }}/fullchain.pem;
    ssl_certificate_key {{ letsencrypt_certs_dir }}/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    ssl_prefer_server_ciphers on;
    ssl_ciphers 'kEECDH+ECDSA+AES128 kEECDH+ECDSA+AES256 kEECDH+AES128 kEECDH+AES256 kEDH+AES128 kEDH+AES256 DES-CBC3-SHA +SHA !aNULL !eNULL !LOW !kECDH !DSS !MD5 !RC4 !EXP !PSK !SRP !CAMELLIA !SEED';

    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate {{ letsencrypt_certs_dir }}/fullchain.pem;
    resolver 8.8.8.8 8.8.4.4 valid=1h;

    ssl_dhparam /etc/nginx/ssl/dhparam2048.pem;

    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

    location / {
        uwsgi_pass  django;
        include     /etc/nginx/uwsgi_params;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-NginX-Proxy true;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }
}
