# TYPE  DATABASE        USER                ADDRESS                 METHOD
local   all             postgres                                    peer
local   all             all                                         peer
host    all             all                 127.0.0.1/32            md5
host    all             all                 ::1/128                 md5
host    {{ db_user }}   {{ db_password }}   {{ public_ip }}/0       md5
