{% extends "blog/base.html" %}

{% load blog_tags static %}

{% block title %} Page Not Found (404) {% endblock %}
{% block content %}
    
    <header id="home">
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <div class="home-content">
                            <h2>404 ! Page Not Found !</h2>
                            <br>
                            <h3>{{ request.build_absolute_uri }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-img" style="background-color: black;">
            <div class="overlay"></div>
        </div>
    </header>
{% endblock %}
